@import '../../styles/all';

.card-container {
  display: grid;
  grid-gap: 10px;
  border-radius: 3px;
  margin-top: 10px;
  border: 1px solid black;

  @include box-shadow();

  .header {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 10px;
    background-color: $green;
    color: white;

    .title {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: auto 1fr;
      align-items: center;
    }
  }


  .body, .footer {
    padding: 10px;
  }
}

:host ::ng-deep {
  button {
    border: 1px solid lightblue;
    border-radius: 10px;
    background-color: aqua;
    padding: 5px;
    font-weight: bold;
    color: black;

    &:hover {
      cursor: pointer;
    }
  }
}

