
<div class="components-container">
  <app-card [iconClass]="'pi pi-info'" [title]="'카드'" [subTitle]="'콤포넌트'">
    <div body>내용물</div>
    <div footer>하단부</div>
  </app-card>

  <app-card [iconClass]="'pi pi-chevron-circle-right'" [title]="'아코디언'"  [subTitle]="'콤포넌트'">
    <app-accordion  body [items]="accordionItems"></app-accordion>
  </app-card>

  <app-card [iconClass]="'pi pi-chevron-circle-right'" [title]="'진행바'"  [subTitle]="'콤포넌트'">
    <app-progress  body [value]="value" [max]="max"></app-progress>
    <button footer (click)="progressBarUpadate()">갱신</button>
  </app-card>

  <app-card [iconClass]="'pi pi-chevron-circle-right'" [title]="'별점수'"  [subTitle]="'콤포넌트'">
    <app-starrating  body [rating]="4.5" ></app-starrating>
  </app-card>

  <app-card [iconClass]="'pi pi-chevron-circle-right'" [title]="'페이지 위로이동'"  [subTitle]="'콤포넌트'">
    <app-topofpage  body   ></app-topofpage>
  </app-card>

  <app-card [iconClass]="'pi pi-chevron-circle-right'" [title]="'로딩'"  [subTitle]="'콤포넌트'">
    <app-loader  body [isLoading]="true"></app-loader>
  </app-card>

  <app-card [iconClass]="'pi pi-chevron-circle-right'" [title]="'트위터'"  [subTitle]="'콤포넌트'">
    <app-twiterpost  body ></app-twiterpost>
  </app-card>

  <app-card [iconClass]="'pi pi-chevron-circle-right'" [title]="'모달'"  [subTitle]="'콤포넌트'">
    <div body>
      <app-modal  [title]="'모달 예제'" #modal>
        <p>내용물</p>
      </app-modal>
    </div>

    <div footer>
      <button (click)="modal.open()">Call Modal</button>
    </div>

  </app-card>

  <app-card [iconClass]="'pi pi-chevron-circle-right'" [title]="'Debounce Click'"  [subTitle]="'디렉티브'">
      <div body>
         <button appDebounceClick (debounceClick)="log()">로그</button>
      </div>


  </app-card>

  <app-card [iconClass]="'pi pi-chevron-circle-right'" [title]="'인용부호'"  [subTitle]="'콤포넌트'">
    <app-quote body
     [quote]="'앵귤러 Good, 좋아요....'" [author]="'구글'" [occupation]="'플래폼기업'"
    ></app-quote>
  </app-card>

  <app-card [iconClass]="'pi pi-chevron-circle-right'" [title]="'토글'"  [subTitle]="'콤포넌트'">
      <app-toggle [isOn]="toggleValue" body></app-toggle>
  </app-card>

  <app-card [iconClass]="'pi pi-chevron-circle-right'" [title]="'검색'"  [subTitle]="'파이프'">
   <app-debounce-search body (searchUpdate)="debounceExampleMethod($event)" ></app-debounce-search>
</app-card>

<app-card [iconClass]="'pi pi-chevron-circle-right'" [title]="'검색'"  [subTitle]="'검색'">
  <app-search-list body
   [items]="['United State','Mexico', 'United Arab Emirate']"
  ></app-search-list>
</app-card>


</div>




