
<div class="components-container">
  <app-card [iconClass]="'pi pi-info'" [title]="'카드'" [subTitle]="'콤포넌트'">
    <div body>내용물</div>
    <div footer>하단부</div>
  </app-card>

  <app-card [iconClass]="'pi pi-chevron-circle-right'" [title]="'아코디언'"  [subTitle]="'콤포넌트'">
    <app-accordion  body [items]="accordionItems"></app-accordion>
  </app-card>

  <app-card [iconClass]="'pi pi-chevron-circle-right'" [title]="'진행바'"  [subTitle]="'콤포넌트'">
    <app-progress  body [value]="value" [max]="max"></app-progress>
    <button footer (click)="progressBarUpadate()">갱신</button>
  </app-card>

  <app-card [iconClass]="'pi pi-chevron-circle-right'" [title]="'별점수'"  [subTitle]="'콤포넌트'">
    <app-starrating  body [rating]="4.5" ></app-starrating>
  </app-card>

  <app-card [iconClass]="'pi pi-chevron-circle-right'" [title]="'페이지 위로이동'"  [subTitle]="'콤포넌트'">
    <app-topofpage  body   ></app-topofpage>
  </app-card>

</div>




