
.engine-wrapper {

   height: 90vh;
   width: 100%;
   position: relative;

   .renderCanvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid black;
   }
}
