.canvas-container {
  width: 80vw;
  height: 80vh;
  margin-top: 150px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid black;


}

.colors {
  border: 1px solid #7ec0ac;
  .test {
     border: 1px solid #5a4949;
  }
}
